/* Globale Resets und Box-Sizing-Regeln */
*,
*::before,
*::after {
    box-sizing: border-box;
    a {
        text-decoration: none;
    }
}
/* CSS-Variablen */
:root {
    --pico-font-family: 'roboto', 'arial', 'helvetica';
}
/* Weitere globale Stile */
html {
    height: 100%;
}

body {
    background: -webkit-linear-gradient(1turn, #1f0c36, #422566);
    margin: 0;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: #1f0c36;
    text-align: center;
    color: #17f1b3;
    letter-spacing: 0.2rem;
    font-weight: 900;
    border-bottom: 2px solid #17f1b3;
    z-index: 1;
}

main {
    margin-top: 3rem;
    padding: 2rem;
    color: black;
}

.main__home-section {
    display: grid;
    gap: 1.25rem 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.hide {
    display: none;
}
