/* User */

.main__user-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.user-section__card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
}

.user-section__avatar {
    max-width: 200px;
    border-radius: 50%;
}

.user-section__name {
    font-size: 1.5rem;
    color: #422566;
    background-color: #17f1b3;
    align-self: center;
    padding: 0.2rem;
    margin: 0;
    width: 100%;
    text-align: center;
}
.user-section__heading {
    width: 100%;
}

.user-section__text {
    max-width: 100%;
    font-size: 0.9rem;
}

.user-section__settings {
    position: relative;
}
